@font-face {
	font-family: BrandonText;
	src: url(fonts/BrandonText.otf);
}
html {
    display: grid;
    font-family: "BrandonText";
}
body {
    text-align: center;
}

h1 {
    font-size: 5em;
}

h2 {
    font-size: 2em;
}

p {
    font-size: 1.5em;
}

ul {
    font-size: 1.5em;
}

#question {
    text-align: center;
    font-size: 2em;
    background-color: #ffffff;
    width: 40%;
    min-width: 100px;
    padding: 1em;
    margin: 1em auto;
    border-radius: 20px;
}

button{
    display: block;
    text-align: center;
    font-size: 1.5em;
    padding: 0.4em;
    width: 20%;
    margin: 0.4em auto;
    background-color:#00b5ff;
    border-radius: 1em;
    border-style: none;
}

#results {
    margin: 0 auto;
    border-radius: 20px;
    max-width: 80%;
    height: auto;
}
@media(prefers-color-scheme: dark){
    body{
        background-color: #000000;
        color: #ffffff;
    }
    #question {
        background-color: #101010;
        color: #ffffff;
    }
}

/*Github Corner*/
.github-corner {
    fill: #000000;
  }
  .github-corner .octo-arm, .github-corner .octo-body {
    fill: #ffffff;
  }
  
  .github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
  
  @keyframes octocat-wave {
    0%, 100% {
      transform: rotate(0);
    }
    20%, 60% {
      transform: rotate(-25deg);
    }
    40%, 80% {
      transform: rotate(10deg);
    }
  }
  @media (max-width: 800px) {
    .github-corner:hover .octo-arm {
      animation: none;
    }
  
    .github-corner .octo-arm {
      animation: octocat-wave 560ms ease-in-out;
    }
  }
  @media (prefers-color-scheme: dark) {
    .github-corner {
      fill: #ffffff;
    }
    .github-corner .octo-arm, .github-corner .octo-body {
      fill: #000000;
    }
  }